nav {
    display: block;
    width: 300px;
    height: 50px;
    background-color: black;
}

body {
    display: block;
    background-color: aqua;
    height: 300px;
    weight: 300px;
}

h1 {
    color: purple;
}

#theGame {
    background-color: aqua;
    color: red;
}