nav {
    display: block;
    width: auto;
    height: auto;
    background-color: white;
}

body {
    display: flex;
    background-color: cyan;
    height: auto;
    width: auto;
    font-family: Rubik, "sans-serif";
    font-size: 24px;
    text-align: center;
    border: 5px solid #F8D210;
}

#play {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  *padding: 0 25px;
  position: relative;
  margin: auto;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#play:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: flex;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
  margin: auto;
}

#play:hover:after {
  transform: translate(0, 0);
}

#play:active {
  background-color: #ffdeda;
  outline: 0;
}

#play:hover {
  outline: 0;
}

@media (min-width: 768px) {
  #play {
    padding: 0 40px;
  }
}

h1 {
    display: block;
    color: #FA26A0;
    font-weight: bold;
    text-align: center;
}

#theGame {
    display: block;
    color: #FA26A0;
    text-align: center;
}

#artist {
    display: block;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
}

#countdown {
    display: block;
    color: #F51720;
    font-weight: bold;
    font-size: 50px;
}